
@{
  Layout = "_Layout"; }

@using Shelter.Models
@model IEnumerable<Shelter.Models.Dog>

<h3>Rescue Dogs available for @User.Identity.Name</h3>

@if (Model.Any())
{
  <ul>
    @foreach (Dog dog in Model)
    {
      <li>@Html.ActionLink($"{dog.Title}", "Details", new { id = dog.DogId })</li>
    }
  </ul>
}
else
{
  <h3>There are no dogs available to adopt.</h3>
}

<p>@Html.ActionLink("Add a new Dog", "Create")</p>